body{
    padding: 50px;
    font-size: 14px;
}

#content{
    width: 800px;
    margin: 0 auto;
}

#room {
    background-color: #ddd;
    margin-bottom: 1em;
}

#messages {
    width: 690px;
    height: 300px;
    overflow: auto;
    background-color: #eee;
    margin-bottom: 1em;
    margin-right: 10px;
}